
html {
    height: 100%;
}
body {
    min-height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: rgb(2, 11, 19);
}

.transparent{
    display: flex;
    justify-content: center;
    margin-top: 50%;
    width:100%;
    height: 15%;
    background-color: rgba(1, 19, 31, 0.767);
    align-items: center;
    font-family: "Chakra Petch",sans-serif;
    font-size: 25px;

}

.transparent img{
    width: 20%;
    height: 100%;
}

.sidebar{
    flex: 0 0 25%;
    background-image: url("ocean.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items:flex-start;
    color: white;
}

.main{
    font-family: "Asap", sans-serif;
    flex: 0 0 40%;
    background-color: rgb(243, 243, 253);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.message{
    padding: 2%;
}

.form{
    width: 96%;
    background-color: rgb(255, 255, 255);
    padding: 2%;
    color:rgb(5, 21, 36);

}

.Info{
    display: flex;
    justify-content: flex-start;
}

.LogIn{
    padding: 2%;

}

label{
    font-size: 70%;
}

input{    
    border: solid;
    margin-right: 30px;
    height: 40%;
    border-radius: 5px;
    border-color: rgb(212, 212, 221);
    box-shadow: none;
    border-width: 1px;
}

